{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<section class="home d-flex justify-content-center align-self-center flex-column">
            <div id="carouselExampleControls" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item  active" id="slider">
                    <div class="container ">
                        <div class="row">
                            <div class="col-12 col-md-12 col-sm-12 col-lg-8 col-xl-8 col-xxl-8">
                                <h2 data-aos="fade-up" data-aos-delay="100">Video Üretim Süreçlerinde</h2>
                                <h1 data-aos="fade-up" data-aos-delay="300">Yeni Bir Bakış Açısı</h1>
                                <p data-aos="fade-up" data-aos-delay="400">Yeni nesil video ajansı olarak alışlkanlıkları değitiriyor, video üretim
                                    süreçlerine farklı bir bakış açısı getiriyoruz.
                                </p>
                                <p data-aos="fade-up" data-aos-delay="500">
                                    Dijital dönüşüm trendiyle birlikte artan video içerik ihtiyacını, öngörülebilir
                                    büçe ve eforlarla yönetiyoruz. Markanızın internal veya external tüm video
                                    projeleri için farklı anlaşma modelleriyle efektif çözümler üretiyoruz.
                                </p>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item animate__animated animate__fadeIn animate__slow" id="slider2">
                    <div class="container ">
                        <div class="row">
                            <div class="col-12 col-md-12 col-sm-12 col-lg-8 col-xl-8 col-xxl-8">
                                
                                <h1 class="" >Hakkımızda</h1>
                                <p class="">                                    
                                    Rakiplerinin önüne geçmek ve ürününü en iyi şekilde tanıtmak isteyenler için Reklam Filmleri…
                                    Anlatacak uzun hikâyeleri fakat kısıtlı zamanları olanlar için Kısa Filmler…
                                    Şirketini, firmasını ya da kurumunu yeni mecralara taşımak ve çalışmalarını genişletmek isteyenler için Tanıtım Filmleri…
                                    Göze değil, kulağa hitap etmek istiyoruz diyenler için en keyifli Radyo Reklamları…
                                    Dünyanın ciddi yüzüne modern bir gülümsemeyle eşlik etmek isteyenler için Animasyon Filmler…                                    
                                    Senaristlerimiz, prodüksiyon ekibimiz, modern ekipmanlarımız ve tecrübeli oyuncularımızla
                                    Şimdi Düzey Yapım Zamanı!                                    
                                </p>
                            </div>
                            
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <span id="2"></span>
      </section>
<section class="frist-content p-5 " style="background-color: #0c0d0f;" >
    <div class="container " >
        <div class="row first-row">
            <div class="col-12 col-md-6 col-xl-6 col-xxl-3 mb-2 " data-aos="fade-up" data-aos-delay="50" >
                <img src="{% static 'img/iconlar/tanıtımfilmi.png' %}" alt="" srcset="" class=" gorsel me-2">
                <div>
                    <h1 class="fs-4 text-white">Tanıtım Filmi</h1>
                    <p class="text-white">Kreatif içerikler ile şirketinizi
                    ya da ürününüzü ön plana çıkarın.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-6 col-xxl-3 mb-2" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'img/iconlar/prodüksiyon.png' %}" alt="" srcset="" class=" gorsel me-2">
                <div>
                    <h1 class="fs-4 text-white">Prodüksiyon</h1>
                    <p class="text-white">Etkinlik ya da projenizi kaliteli çekimler ile profesyonel
                        bir yapı kazandırın.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-6 col-xxl-3 mb-2" data-aos="fade-up" data-aos-delay="400">
                <img src="{% static 'img/iconlar/dronecekimi.png' %}" alt="" srcset="" class="gorsel me-2"> 
                <div>
                    <h1 class="fs-4 text-white">Drone Çekimi</h1>
                    <p class="text-white">4K Havadan video çekimleri ile projenize prestij katın.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-6 col-xxl-3 mb-2" data-aos="fade-up" data-aos-delay="500">
                <img src="{% static 'img/iconlar/fotografcekimi.png' %}" alt="" srcset="" class="gorsel me-2" >
                <div>
                    <h1 class="fs-4 text-white">Fotoğraf Çekimi</h1 >
                    <p class="text-white">Kreatif içerikler ile şirketinizi
                    ya da ürününüzü ön plana çıkarın.
                    </p>
                </div>
            </div>
        </div>
</section>

<section class="second-content pt-5 pb-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-white">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-2">
                <h3 data-aos="fade-up" data-aos-delay="50">Düzey yapım</h3>
                <h1 data-aos="fade-up" data-aos-delay="250">Showrell Tanıtım Filmi</h1>
                <p data-aos="fade-up" data-aos-delay="500">Tanıtım filimli çekimlerimizle markanıza değer katan projeler üretiyoruz. <br>
                Tanıtım Filmi Çekimi için showreell çalışmamıza bir göz atın!  </p>
                
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6" data-aos="fade-up" data-aos-delay="600">
                <iframe  class="video"  src="https://www.youtube.com/embed/YaDTEPqhQJs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section class="three-content">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center pt-5">
                <h2 class="three-h2" data-aos="fade-up" data-aos-delay="50">Altına İmzamızı attığımız işleri</h2>
                <h1 class="three-h1" data-aos="fade-up" data-aos-delay="250">Nasıl Üretiyoruz?</h1>
            </div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-12 col-md-12 col-xl-4 col-xxl-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Fikir</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>
                                Ürün/hizmetimizi anlatmak için yanlızca birkaç
                                dakikamız var. Tanıtım filmi çekiminiz için size
                                önereceğimiz bir fikrimiz var!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-4 col-xxl-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Seneryo</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>
                                Ürün/hizmetimizi anlatmak için yanlızca birkaç
                                dakikamız var. Tanıtım filmi çekiminiz için size
                                önereceğimiz bir fikrimiz var!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-4 col-xxl-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Cast</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>
                                Ürün/hizmetimizi anlatmak için yanlızca birkaç
                                dakikamız var. Tanıtım filmi çekiminiz için size
                                önereceğimiz bir fikrimiz var!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 pb-5" data-aos="fade-up" data-aos-delay="400">
            <div class="col-12 col-md-12 col-xl-4 col-xxl-4"  id="3">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Kayıt</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>
                                Ürün/hizmetimizi anlatmak için yanlızca birkaç
                                dakikamız var. Tanıtım filmi çekiminiz için size
                                önereceğimiz bir fikrimiz var!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-4 col-xxl-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Prodüksiyon</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>
                                Ürün/hizmetimizi anlatmak için yanlızca birkaç
                                dakikamız var. Tanıtım filmi çekiminiz için size
                                önereceğimiz bir fikrimiz var!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-4 col-xxl-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Post Prodüksiyon</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>
                                Ürün/hizmetimizi anlatmak için yanlızca birkaç
                                dakikamız var. Tanıtım filmi çekiminiz için size
                                önereceğimiz bir fikrimiz var!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="four-content pt-5 pb-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mb-2">                
                    <div class="row">
                        <div class="col-12 ">
                            <h2 data-aos="fade-up" data-aos-delay="50">Düzey Yapım Olarak Üstlendiğimiz</h2>
                            <h1 data-aos="fade-up" data-aos-delay="250">Projelerden Bazıları</h1>
                        </div>
                    </div>
                    <div class="row " data-aos="fade-up" data-aos-delay="350">
                        <div class="col-12">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate magni iusto ipsa error aliquid nihil? Incidunt inventore delectus nam nisi accusamus soluta quas, eaque odit totam cumque? Consequuntur, magnam ipsam.
                            </p>
                        </div>
                    </div>                
            </div>
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 " data-aos="fade-up" data-aos-delay="400">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <iframe class="video" src="https://www.youtube.com/embed/ZnS7_f0Goqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      <div class="carousel-item">
                        <iframe class="video" src="https://www.youtube.com/embed/WpqDDFKaGxw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</section>

<section class="five-content p-5">
    <div class="container" data-aos="fade-up" data-aos-delay="50">
        <div class="row d-flex align-items-center justify-content-center text-center">
            <div class="col-12 col-lg-2">
                <span  class="sayi"><span id="count1"></span>+</span><br>
                <p class="">Marka için</p>
                
            </div>
            <div class="col-12 col-md-8 col-lg-8 ">
                <p class="five-content-p">Videoları çok seviyoruz! pek çok farklı marka için farklı türde Videoları
                    ürettik, üretmeye devam ediyoruz.
                </p>
            </div>
            <div class="col-12 col-md-8 col-lg-2" id="4">
                <span class="sayi"><span id="count3"></span>+</span><br>
                <p>Video</p>
            </div>
        </div>
    </div>
</section>

<section class="six-content">
    <br><br><br>
    <div class="container" >
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h2 data-aos="fade-up" data-aos-delay="50">Proje için En Uygun Teklif Sunalım...</h2>
                <h1 data-aos="fade-up" data-aos-delay="250">Projen Üzerinde Birlikte Çalışım</h1>
            </div>
        </div>
    <form method="POST">
        {% csrf_token %}
        <div class="row mb-2" data-aos="fade-up" data-aos-delay="50">
            <div class="col-12 col-xl-2"></div>
            <div class="col-12 col-xl-4">
                <label for="inputPassword5" class="form-label">Adı Soyadı</label>                   
                {{form.first_name}}
            </div>
            <div class="col-12 col-xl-4">
                <label for="inputPassword5" class="form-label">Telefon</label>
                {{form.phone}}
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="250">
            <div class="col-12 col-xl-2"></div>
            <div class="col-12 col-xl-4">
                <label for="inputPassword5" class="form-label">E-mail</label>                    
                {{form.email}}
            </div>
            <div class="col-12 col-xl-4">
                <label for="inputPassword5" class="form-label a">Kategori</label>
                {{form.dept}}

            </div>
            <div class="col-2"></div>
        </div>
         <div class="row mt-4">
            <div class="col-12">
                <div class="text-center mb-2" data-aos="fade-up" data-aos-delay="350">Yapılmasını istediğiniz işi bir kaç Kelime ile anlatın...</div> 
            </div>
         </div>
         <div class="row" data-aos="fade-up" data-aos-delay="450">
            <div class="col-2 col-lg-2 col-xl-2"></div>
            <div class="col-12 col-lg-8 col-xl-8">
                <div class="form-floating">
                    {{form.message}}
                </div>
            </div>
            <div class="col-2 col-lg-2 col-xl-2"></div>
         </div>
         <div class="row mt-2" data-aos="fade-up" data-aos-delay="550">
                <div class="col-12 text-center">
                    <p>İletişim bilgilerinizi şimdi veya gelecekte potansiyel işbirliği fırsatları hakkında doğrudan sizinle iletişime geçmek için kullanacağız.</p>
                </div>
         </div>
        <div class="row" data-aos="fade-up" data-aos-delay="650">
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success six-btn">Gönder</button>
            </div>
        </div>
    </form>
    </div>
    <br><br><br>
</section>

{% endblock %}