{% load static%}
<footer class="seven-content pt-5  d-flex justify-content-center align-items-center" >
    <div class="container " >
        <div class="row "> 
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4 d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <div class=" col-lg-2"></div>
                        <div class="col-12 col-lg-10">
                            <h1 class="footer-h ">İLETİŞİM</h1>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class=" col-lg-2"></div>
                        <div class="col-12 col-lg-10">
                            <br>
                           <span class="fw-light"><i class="fa-solid fa-location-dot simge me-2"></i> Merkez, Begonya Sk. No:12, 34025 </span> <b>Gaziosmanpaşa/İstanbul</b>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class=" col-lg-2"></div>
                        <div class="col-12 col-lg-10">
                            <span class="fw-light"><i class="fa-solid fa-envelope simge me-2"></i> bilgi@duzeypromosyon.com</span> 
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class=" col-lg-2"></div>
                        <div class="col-12 col-lg-10">
                            <span class="fw-bold"><i class="fa-solid fa-phone me-2 simge"></i> 0212 417 92 92</span> 
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col-lg-2"></div>
                        <div class="col-12 col-lg-10">
                           <span><i class="fa-regular fa-clock simge me-2"></i> <b> Çalışma saatleri;</b></span><br>
                           <span class="fw-light">Hafta içi: 08.30- 18.30 </span><br>
                            <span class="fw-light">Cumartesi: 08.30- 18.30</span>
                        </div>
                    </div>
                </div>
                
            </div>            
            <div class="col-12 col-sm-12 col-md-4  col-lg-4 mb-4">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class=" footer-h">BÜLTEN</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <span class="fw-light">Hedeflerine en etkili şekilde ulaşması için doğrudan markalar veya farklı uzmanlıktaki ajanslar için stratejik ortaklıklar ve yaratıcı video içerik çözümleri sunuyoruz.</span>
                        </div>
                    </div>
                </div>
            </div>           
            <div class="col-12 col-sm-12 col-md-4  hizmet ">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                           <h1 class=" footer-h">HİZMETLERİMİZ</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul>
                                <li><a href="" class="footer-a fw-light">Tanıtım Filmi</a></li>
                                <li><a href="" class="footer-a fw-light">Drone Çekimi</a></li>
                                <li><a href="" class="footer-a fw-light">Reklam Filmi</a></li>
                                <li><a href="" class="footer-a fw-light">Ürün Fotoğraf Çekimi</a></li>
                                <li><a href="" class="footer-a fw-light">Sinema Filmi Çekimi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center pt-5">&copy; Copyright <b>Düzey Bilişim</b>. Tüm hakları Saklıdır.
                Düzey Bilişim Tarafından dizayn edilmiştir.
                </p>
            </div>
        </div>
    </div>
</footer>


<script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
</body>

</html>